@import '../../scss/mixins';

header {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  padding: 0 12px;
  box-shadow: 0px 10px 24px var(--lt-gray);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  max-width: 250px;
  flex-grow: 1;
}

nav {
  flex-grow: 3;
  display: flex;
  justify-content: space-around;
}

a {
  font-family: var(--body-type);
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  color: var(--lt-gray);
  padding: 24px;
  transition: var(--global-transition);
  &:hover {
    &:not(.is-active) {
      color: var(--dk-gray);
      transform: var(--global-scale-up);
    }
  }
  &.is-active {
    background-color: var(--lt-green);
    color: white;
    cursor: default;
  }
}
