<span class="year">2018</span>
<div class="date-wrapper">
  <div class="date">
    <div class="date-block-wrapper">
      <div class="date-block start">
        <span class="month">{{ startDate | date: 'LLL'}}</span>
        <span class="date">{{ startDate | date: 'd' }}</span>
      </div>
    </div>
    <div class="through">through</div>
    <div class="date-block-wrapper">
      <div class="date-block end">
        <span class="month">{{ endDate | date: 'LLL' }}</span>
        <span class="date">{{ endDate | date: 'd' }}</span>
      </div>
    </div>
  </div>
</div>
