.date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-bottom: 12px;
  color: var(--dk-green);
}

.date-wrapper {
  margin: 12px 0 24px 24px;
}

.date-block-wrapper {
  padding: 0 24px;
}

.through {
  font-family: var(--body-type);
  text-transform: uppercase;
  padding-right: 12px;
  margin-left: -12px;
  color: var(--dk-green);
  padding-bottom: 12px;
}

.date-block {
  font-family: var(--body-type);
  // display: flex;
  // align-items: center;
  // justify-content: flex-start;
  position: relative;

  .month {
      display: inline-block;
      transform: rotate(-90deg);
      letter-spacing: 5px;
      flex: 0;
      background-color: var(--dk-green);
      color: #fff;
      padding: 2px 4px 2px 6px;
      position: absolute;
      left: -40px;
      top: 25px;
  }

  .date {
      font-weight: bold;
      font-size: 52px;
      color: var(--dk-green);
      font-family: var(--header-type);
  }
}

.year {
  text-align: center;
  padding: 10px 80px;
  font-size: 10px;
  font-weight: normal;
  font-family: var(--body-type);
  letter-spacing: 10px;
  border-bottom: 1px solid var(--lt-green);
  margin: 0 auto;
  display: inline-block;
}