<fat-header></fat-header>
<sub-header sectionTitle="Featured"></sub-header>
<!-- Featured Component -->
<div [@featuredAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet" (activate)="onActivate($event)"></router-outlet>
</div>
<sub-header sectionTitle="Also This Season"></sub-header>
<other-shows></other-shows>
<section class="about">
  <sub-header sectionTitle="Welcome to Season 11"></sub-header>
  <div class="content">
    <div class="left"><img src="../assets/farmersalleymarquee.jpg" alt="Farmers Alley Theatre Marquee" /></div>
    <div class="right">
      <p>
        Our time at the Little Theatre on Oakland Drive, wonderful as it was, has now concluded. We couldn’t be more
        excited to return home full-time to our original intimate black-box space at 221 Farmers Alley, right in the
        heart of downtown Kalamazoo. As the subject of our opening show of the season famously stated,
        <b><i>“There’s no place like home.”</i></b> We hope you’ll make Farmers Alley Theatre your theatrical home for
        the 2018-19 season. We’ve got a fantastic lineup of shows that are thoroughly entertaining, highly
        thought-provoking, and genuinely thrilling no matter where your tastes may lie.
      </p>
      <p>
        Looking for a show that’s new yet nostalgic? How about the area premieres of
        <b><i>Beyond the Rainbow: The Judy Garland Musical</i></b> or <b><i>Marvelous Wonderettes: Dream On</i></b
        >. What about plays that are sure to entertain and enlighten? We’ve got that covered with
        <b><i>A Doll’s House: Part 2</i></b> (from The Christians author Lucas Hnath), <b><i>Doubt: A Parable</i></b
        >, and <b><i>The Curious Incident of the Dog in the Night-Time</i></b> (based on the best-selling novel). And if
        you’re looking for Tony Winning musicals to fit your bill, we have both dramatic & comedic options in
        <b><i>Fun Home</i></b> and <b><i>Avenue Q</i></b
        >. Welcome home to <b>Farmers Alley Theatre!</b>.
      </p>
    </div>
  </div>
</section>
<sub-header sectionTitle="Join Our Mailing List"></sub-header>
<join-mailing-list></join-mailing-list>
<footer>
  <p>
    <span class="keep">221 farmers alley</span> <span class="keep">kalamazoo, mi 49007</span>
    <span class="keep">269.343.2727</span> <span class="keep">© farmers alley theatre 2019</span>
  </p>
</footer>
