<fat-header></fat-header>
<sub-header sectionTitle="Featured"></sub-header>
<!-- Featured Component -->
<div [@featuredAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet" (activate)="onActivate($event)"></router-outlet>
</div>
<sub-header sectionTitle="Also This Season"></sub-header>
<other-shows></other-shows>
<sub-header sectionTitle="About Farmers Alley Theatre"></sub-header>
<sub-header sectionTitle="Join Our Mailing List"></sub-header>
<join-mailing-list></join-mailing-list>
