@import '../../scss/mixins';

.featured {
  display: grid;
  grid-template-columns: 50% 50%;
  @include media-query(medium-and-down) {
    grid-template-columns: 100%;
  }
}

.left {
  background-color: white;
  // grid-column: 1/2;
  padding: 80px;
  text-align: center;
  align-self: center;
  position: relative;
  left: var(--offset);
  h2 {
    margin-bottom: 0;
  }
  @include media-query(medium-and-down) {
    left: 0;
    padding: 12px;
  }
}

.right {
  background-color: var(--lt-green);
  // grid-column: 2/3;
  padding: 80px 20px;
  @include media-query(medium-and-down) {
    grid-row: 1/2;
    background-color: none;
    padding: 40px 10px;
  }
}

.spread {
  font-family: var(--body-type);
  letter-spacing: 10px;
  font-size: 10px;
}
