.content {
  display: grid;
  grid-template-columns: 50% 50%;
  @include media-query(medium-and-down) {
    grid-template-columns: 100%;
  }
  .left {
    background-color: var(--lt-green);
    // grid-column: 1/2;
    padding: 80px 20px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include media-query(medium-and-down) {
      padding: 40px 10px;
    }
    img {
      border: 3px solid white;
      box-shadow: var(--drop-shadow);
      position: relative;
      right: var(--offset);
      width: 100%;
      @include media-query(medium-and-down) {
        right: 0;
        margin: 0 auto;
      }
    }
  }
  .right {
    padding: 80px;
    position: relative;
    left: calc(-1 * var(--offset));
    @include media-query(medium-and-down) {
      left: 0;
      padding: 12px;
      text-align: center;
    }
  }
}
