:root {
  --dk-green: #61892f;
  --lt-green: #86c232;
  --dk-gray: #222629;
  --gray: #474b4f;
  --lt-gray: #6b6e70;
  --white: #ffffff;

  --header-color: $dk-gray;
  --body-color: $lt-gray;

  --header-type: Montserrat, sans-serif;
  --body-type: Varela, sans-serif;

  --drop-shadow: 5px 10px 24px var(--dk-gray);

  --global-transition: all 0.2s ease-out;
  --global-scale-up: scale(1.1, 1.1);

  --offset: -72px;
}

$sm-min: 320px;
$sm-max: 600px;

$md-min: 601px;
$md-max: 840px;

$lg-min: 841px;
$lg-max: 1600px;

$dk-green: #61892f;
$lt-green: #86c232;
$dk-gray: #222629;
$gray: #474b4f;
$lt-gray: #6b6e70;
$white: #ffffff;

$header-color: $dk-gray;
$body-color: $lt-gray;

$header-type: Montserrat, sans-serif;
$body-type: Varela, sans-serif;

$drop-shadow: 5px 10px 24px $lt-gray;
