@import './variables';
@import './typography';
@import './poster';
@import './basic-content';
@import './mixins';

/deep/ router-outlet ~ * {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  padding-top: 80px;
  min-width: $sm-min;
  width: auto;
  margin: 0 auto;
  max-width: $lg-max;
  position: relative;
}

a.btn,
button.btn {
  background-color: var(--dk-green);
  border: 1px solid var(--dk-gray);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--header-type);
  letter-spacing: 5px;
  padding: 20px;
  cursor: pointer;
  display: inline-block;
  transition: var(--global-transition);

  &:hover {
    transform: var(--global-scale-up);
    background-color: var(--lt-green);
  }

  &:disabled {
    opacity: 0.25;
    background-color: var(--lt-gray);
    border-color: var(--gray);
    cursor: not-allowed;
    transform: none;
  }
}
